@tailwind base;
@tailwind components;
@tailwind utilities;

/*
    https://github.com/tailwindlabs/tailwindcss/discussions/2394
    https://github.com/tailwindlabs/tailwindcss/pull/5732
*/
@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@layer base {
  ul {
    @apply list-disc list-outside pl-8 lg:pl-6;
  }
  ol {
    @apply list-decimal list-outside pl-8 lg:pl-6;
  }
  ol:not(:first-child),
  ul:not(:first-child) {
    @apply pt-1;
  }
  a:not(#sidebar a) {
    @apply text-lightaccent-700 hover:text-lightaccent-600 dark:text-darkaccent-300 hover:dark:text-darkaccent-400 underline;
  }
  i {
    @apply text-4xl;
  }
  main {
    @apply text-base;
  }
  h1 {
    @apply text-4xl;
  }
  h2 {
    @apply text-2xl;
  }
  h3 {
    @apply text-xl;
  }
  h4 {
    @apply text-lg;
  }
  h1:not(:first-child),
  h2:not(:first-child),
  h3:not(:first-child),
  h4:not(:first-child) {
    @apply pt-2;
  }
}
