@tailwind base;
@tailwind components;
@tailwind utilities;

/*
    https://github.com/tailwindlabs/tailwindcss/discussions/2394
    https://github.com/tailwindlabs/tailwindcss/pull/5732
*/
@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@layer base {
  ul {
    @apply list-disc pl-8 lg:pl-6;
  }
  ol {
    @apply list-decimal pl-10 lg:pl-7;
  }
  ul,
  ol {
    @apply list-outside pb-2 lg:pb-4;
  }
  p + ol,
  p + ul {
    @apply mt-2 lg:mt-1;
  }
  ol:last-child,
  ul:last-child {
    @apply mb-0 pb-0;
  }
  main {
    @apply text-base;
  }
  main h1 {
    @apply text-4xl;
  }
  main h2 {
    @apply text-2xl;
  }
  main h3 {
    @apply text-xl;
  }
  main h4 {
    @apply text-lg;
  }
  main i {
    @apply text-4xl;
  }
  /* } */
}
